    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garante que nada ultrapasse a tela */
html, body {
    overflow-x: hidden;
}

/* ESTILOS GERAIS */
body {
    background-color: #202022;
    font-family: sans-serif;
    padding: 40px 20px; /* sem overflow */
}

/* GRID DE CARDS */
.container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* CARD */
.card {
    background: #4a4a4a;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .25s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* HEADER */
.header {
    background: #535353;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ÍCONES */
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6c63ff;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* CORES DOS ÍCONES */
.html-icon { background-color: #e34c26; }
.css-icon { background-color: #264de4; }
.js-icon { background-color: #f7df1e; color: #333; }
.python-icon { background-color: #306998; }
.node-icon { background-color: #68a063; }
.react-icon { background-color: #61dafb; color: #333; }
.ts-icon { background: #3178C6; }
.git-icon { background: #F05033; }
.sql-icon { background: #5C6BC0; }

/* TEXTO */
.title {
    font-size: 22px;
}

.description {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 1.5;
}